{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<div class="row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">Home</li>
			</ol>
		</nav>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="card" style="border: 1px solid #e5e5e5; padding:10px;">
				<img src="defaultPizza.png" class="img-thumbnail" alt="...">
				<div class="card-body">
					<h4 class="card-title text-center"><a href="/pizza/" class="btn btn-success"><b>Check our pizzas</b></a></h4>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card" style="border: 1px solid #e5e5e5; padding:10px;">
				<img src="defaultIngredient.png" class="img-thumbnail" alt="...">
				<div class="card-body">
					<h4 class="card-title text-center"><a href="/ingredient/" class="btn btn-success"><b>Check our ingredientss</b></a></h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
