{% extends 'base.html.twig' %}

{% block title %}Ingredient list{% endblock %}

{% block body %}
	<div class="row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/home">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Ingredients</li>
			</ol>
		</nav>
	</div>

	<div class="row">
		<h1>Ingredients</b></h1>
		<hr>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p class>List of all available ingredients and prices</b></p>
		</div>
	</div>

	<br>
	
	<div class="row">
		<table class="table" id="ingredientsTable">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Ingredients</th>
					<th scope="col">Price</th>
				</tr>
			</thead>
			<tbody>
				{% for ingredient in ingredients %}
					<tr name="ingredientInfo">
						<td>{{ ingredient.name }}</td>
						<td><span name="ingredientPrice"> {{ ingredient.price }} </span> €</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
