{% extends 'base.html.twig' %}

{% block title %}Choose your pizza{% endblock %}

{% block body %}
	<div class="row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/home">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Pizzas</li>
			</ol>
		</nav>
	</div>

	<h1>Pizzas</h1>
	<hr>

	<div class="row">
	    {% for pizza in pizzas %}
		    <div class="col-md-4">
				<div class="card" style="border: 1px solid #e5e5e5; padding:10px;">
					<img src="defaultPizza.png" class="img-thumbnail" alt="...">
					<div class="card-body">
						<h4 class="card-title"><b>{{ pizza.name }}</b></h4>
						<p class="card-text" style="min-height: 100px;">{{ pizza.description }}</p>
						<a href="/recipe/{{ pizza.id }}" class="btn btn-primary">Choose</a>
					</div>
				</div>
			</div>
		{% endfor %}	
	</div>

{% endblock %}
