{% extends 'base.html.twig' %}

{% block title %}Choosen pizza: {{ pizza.name }}{% endblock %}

{% block body %}
	<div class="row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/home">Home</a></li>
				<li class="breadcrumb-item"><a href="/pizza">Pizzas</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ pizza.name }}</li>
			</ol>
		</nav>
	</div>

	<div class="row">
		<h1>Choosen pizza: <b>{{ pizza.name }}</b></h1>
		<hr>
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>You can add extra ingredients <b>(maximum of 10 ingredients per pizza):</b></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<select class="form-control" id="ingredientSelector">
				{% for ingredient in ingredients %}
					<option name="{{ ingredient.name }}" value="{{ ingredient.price }}">{{ ingredient.name }} ({{ ingredient.price }}€)</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-2">
			<button type="button" class="btn btn-success" onclick="addIngredient()">Add</button>
		</div>
		<div class="col-md-4">
			<button type="button" class="btn btn-primary" onclick="proceedToPay()">Proceed to pay</button>
		</div>
	</div>

	<br>
	<br>

	<div class="row">
		<table class="table" id="ingredientsTable">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Ingredients</th>
					<th scope="col">Price</th>
					<th scope="col">Remove</th>
				</tr>
			</thead>
			<tbody>
				{% for pizzaName,ingredients in recipes %}
						{% for ingredient in ingredients %}
							{% for ingredientName,ingredientPrice in ingredient %}
								<tr name="ingredientInfo">
									<td name="countIngredients"></td>
									<td>{{ ingredientName }}</td>
									<td><span name="ingredientPrice">{{ ingredientPrice }}</span> €</td>
									<td>
										<button type="button" class="btn btn-danger" onclick="removeIngredient(this)">Remove</button>
									</td>
								</tr>
							{% endfor %}
						{% endfor %}
				{% endfor %}
			</tbody>
				<tr>
					<th scope="col">Total (+50%):</th>
					<th scope="col"></th>
					<th scope="col" id="totalPrice">0 €</th>
				</tr>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		function addIngredient() {
			var exrtaIngredients = $('[name="ingredientInfo"]').length;

			if (exrtaIngredients < 10) {
				var ingredientName = $("#ingredientSelector option:selected").attr('name');
				var ingredientPrice = $("#ingredientSelector option:selected").attr('value');

				//Getting ingredient table
				var tableRef = document.getElementById('ingredientsTable').getElementsByTagName('tbody')[0];

				// Insert a row in the table at the last row
				var newRow = tableRef.insertRow(tableRef.rows.length);
				newRow.setAttribute("name", "ingredientInfo");

				// Insert a cell in the row at index 0
				var newCell  = newRow.insertCell(0);
				newCell.setAttribute("name", "countIngredients");

				// Insert a cell in the row at index 1
				var newCell  = newRow.insertCell(1);
				// Append a text node to the cell
				var newText  = document.createTextNode(ingredientName);
				newCell.appendChild(newText);
				
				// Insert a cell in the row at index 2
				var newCell  = newRow.insertCell(2);
				newCell.innerHTML = '<span name="ingredientPrice">'+ingredientPrice+'</span> €';	

				// Insert a cell in the row at index 3
				var newCell  = newRow.insertCell(3);
				newCell.innerHTML = '<button type="button" class="btn btn-danger" onclick="removeIngredient(this)">Remove</button>';

				countIngredients();
				getTotalPrice();
			} 
		}

		function getTotalPrice() {
			var totalPrice = 0.0;

			$('[name="ingredientPrice"]').each(function() {
				totalPrice += parseFloat($(this).text());
			});

			$("#totalPrice").text ((totalPrice*1.5).toFixed(2) + " €");
		}

	    function removeIngredient(object) {
	    	p = object.parentNode.parentNode;
	    	p.parentNode.removeChild(p);
			countIngredients();
	    	getTotalPrice();
	    }

		function countIngredients() {
			$('[name="countIngredients"]').each(function(index) {
				$(this).text(index+1);
			});
		}

		function proceedToPay() {
			alert("Feature not implemented yet");
		}
		 window.onload = function() {
		 	countIngredients();
	        getTotalPrice();
	    }
	</script>
{% endblock %}