<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<div class="container" style="padding: 1%;">
    		<div class="row">
    		</div>
    		<div class="row">
				<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<h1 class="display-4">Pizza catalog manager</h1>
						<p class="lead">Web developer test made by Cristian González.</p>
					</div>
				</div>
    		</div>
    		{% block body %}{% endblock %}
    	</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
